<div class="conatiner-fulid-aside">
    <div class="row-sidebar">
        <div class="col-sm-12">
            <div class="menu-left" style='float:left'>
                <ul type="none">
                    <li><i class="bi bi-list"></i></li>
                    <li><i class="bi bi-house-door"></i><span class="home-parag" style=" font-size: 50%;">Home</span></li>
                    <li><i class="bi bi-compass-fill"></i><span class="explore-parag" style=" font-size: 50%;">Explore</span></li>
                    <li><i class="bi bi-collection-play"></i><span class="subscription-parag" style=" font-size: 50%;">Subscription</span></li>
                    <li><i class="fa fa-history"></i><span class="History-parag" style=" font-size: 50%;">History</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
